.formControl{
    display: flex;
    flex-direction: column;
    margin-bottom: 1em;
}

.formControl label{
    margin-bottom: .3em;
    font-weight: bold;
    font-size: .8em;
}

.formControl input{
    padding: .7em;
    border: 1px solid #5e6ffb;
    border-radius: 8px;
}

.formControl input::placeholder{
    color: #7b7b7b;
}