.footer{
    height: 100px;
    display: flex;
    margin-top: auto;
    align-items: center;
    justify-content: center;
    background-color: #5e6ffb;
    color: aliceblue;
}

.footer p {
    font-weight: bold;

}
